@import url("fonts/GraphikLCG/stylesheet.css");

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-family: "Graphik LCG", sans-serif;
  color: #051534;
}

.medium{
  border-radius: 4px;
  background: #0F8FF9;
  padding: 12px 20px;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
button {
  cursor: pointer;
}

header {
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  padding: 0 30px;
  height: 80px;
  .navigate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .list {
      display: flex;
      align-items: center;
      gap: 30px;
      nav {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        color: #2C3038;
      }
    }
    .actions {
      display: flex;
      gap: 10px;
      .tiny {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 10px 15px;

        color: #051534;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
      }
      .logIn {
        background: white;
        color: #051534;
        border: 1px solid rgba(5, 21, 52, 0.30);
      }
    }
  }

  .dropDown {
    display: flex;

    .menu {
      display: none;
    }
  }

}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .block_1 {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .title {
      margin-top: 150px;
      h1 {

        font-size: 65px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 71.5px */
        letter-spacing: -0.65px;
      }
      p {
        margin-top: 20px;
        width: 830px;

        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      button {
        margin-top: 40px;
        background: #00C064;
      }
    }
    .image {
      margin-top: 70px;
      img {
        height: 100%;
      }
    }
  }
  .block_2 {
    .mini {
      margin-top: 200px;
      display: flex;
      align-items: center;
    }
    .miniBlock_1 {

      p {
        width: 900px;

        margin-left: 40px;

        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        span {
          font-weight: 600;
        }
      }
    }
    .miniBlock_2 {
      justify-content: space-between;
      .title {
        width: 500px;
        h1 {
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%;
          letter-spacing: -0.225px;
        }
        p{
          margin-top: 20px;

          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
    .miniBlock_3 {
      justify-content: space-between;
      .title {
        width: 500px;
        h1 {
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%;
          letter-spacing: -0.225px;
        }
        p {
          margin-top: 20px;

          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
    .miniBlock_4 {
      flex-direction: column;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 946px;
        h1 {
          text-align: center;
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%; /* 49.5px */
          letter-spacing: -0.225px;
        }
        p {
          margin-top: 20px;
          text-align: center;

          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
      img {
        margin-top: 60px;
      }
    }
    .miniBlock_5 {
      justify-content: space-between;
      .title {
        width: 500px;
        h1 {
          font-size: 45px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%;
          letter-spacing: -0.225px;
        }
        p {
          margin-top: 20px;

          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
  .block_3 {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 946px;
    h1 {
      font-size: 55px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%;
      letter-spacing: -0.275px;
    }
    p {
      width: 752px;
      margin-top: 20px;

      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    button {
      margin-top: 30px;
      background: #00C064;
    }
  }
}

footer {
  background: #051534;
  margin-top: 250px;
  width: 100%;
  padding: 60px 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    width: 1140px;
    .top {
      margin-bottom: 60px;
    }
    .columns {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      .col {
        h1 {
          color: white;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }
        p {
          cursor: pointer;
          margin-top: 15px;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          color: #8394B5;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%;

          svg {
            margin-left: 5px;
          }
        }
        .tel {
          margin-top: 15px;
          font-weight: 400;
          cursor: pointer;
        }

        .info {
          margin-bottom: 25px;
        }

        .call {
          margin-bottom: 30px;
        }

      }
    }
    .link {
      .app {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .card {
          display: flex;
          align-items: end;
          gap: 20px;
        }
        .mobile {
          display: flex;
          gap: 10px;
          button {
            display: flex;
            align-items: center;
            background: none;
            border-radius: 8px;
            padding: 12px;
            border: 2px solid rgba(255, 255, 255, 0.20);
          }
        }
      }
      .links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-top: 1px solid rgba(255, 255, 255, 0.10);
        padding: 25px 0 25px 0;
        .navigate {
          display: flex;
          gap: 20px;
          p {
            color: rgba(255, 255, 255, 0.50);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;

            cursor: pointer;
          }
        }
        .social {
          display: flex;
          gap: 30px;
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) and (min-width: 1330px) {
  header {
    gap: 20px;
  }
}
@media (max-width: 1329px) and (min-width: 990px) {
  header {
    .navigate {
      flex-direction: row-reverse;
      justify-content: normal;
      gap: 10px;
      .dropDown {

        .show {
          display: none !important;
        }
        .menu {
          display: flex;
          align-items: center;
          cursor: pointer;
          z-index: 5;
        }
      }
      .list {
        nav {
          font-weight: 500;
          font-size: 40px;
          line-height: 1;
          letter-spacing: -0.005em;
          color: inherit;
          cursor: pointer;
        }
        background: white;
        padding: 100px 30px;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: start;
        z-index: 3;
      }
    }
  }
}
